<%# Intentionally empty, useful override point to add extra fields. %>

<div class='field'>
  <span class='label_with_help'>
    <%= f.label :show_in_footer, "Show in footer" %>
  </span>
  <%= f.check_box :show_in_footer %> Show this page in the footer menu
</div>
