<b>Hello, John</b>
<p>
Someone has made contact on your website:
</p>
<br />
<p>
<b>Name:</b> <%= @name %><br />
<b>Email:</b> <%= @email %><br />
<b>Message:</b> <br />
<%= @message %>
</p>
<br />
Have a great day!
<br />
Your Website.