Hello, 
<p>
You have sent the following through johnramster.com
</p>
<p>
<b>Name:</b> <%= @name %><br />
<b>Email:</b/> <%= @email %><br />
<b>Message:</b><br />
<%= @message %>
</p>
<br />
We will be in touch as soon as we receive the message.
<br />
Have a great day!
<br />
johnramster.com