@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700italic,800,800italic,900,900italic);

.field input, .field textarea {
	border-radius: 4px;
}

.form-actions {
	border-radius: 5px;
}

.button {
	box-shadow: none;
	border-radius: 4px;
	padding: 6px 14px;
	font-size: 14px;
}

input.button, a.button, #content a.button, span.button-wrapper, span.button-wrapper input {
	padding: 6px 14px;
	height: auto;
}

#content .form-actions {
	padding-bottom: 10px;
}

#admin_container {
	font-size: 16px;
}

.wym_skin_refinery {
	font-family: Raleway, "Helvetica Neue", Helvetica, "Open Sans", Arial, sans-serif;
	border-radius: 4px;
}

.inline-label {
	margin: 10px;
}

.inline-label, .inline_input {
	display: inline-block;
	vertical-align: middle;
}

.span-50 {
	width: 49%;
	display: inline-block;
}

.clr {
	clear: both;
}

#site_bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}