
.homepage-col {
	font-size: 36px;
	line-height: 1.5;
}

.headline {
	font-family: "Abri Fatface", "Times New Roman", Times, serif;
	font-size: 28px;
}

/*
@media (min-width: 1200px) {
	.container {
		width: 1200px;
	}
}

@media (min-width: 900px) {
	.container {
		width: 900px;
	}
}

@media (min-width: 740px) {
	.container {
		width: 740px;
	}
}*/